{
    "mcpServers": {
        "ablestack-mcp-server": {
            "command": "node",
            "args": [
                "server.js"
            ],
            "env": {
                "MOLD_ENDPOINT": "http://10.10.32.10:8080/client/api",
                "MOLD_API_KEY": "HMrNWD6A1kyshz2-O1yol58t8g9xAKXWK0paoaiv0VI",
                "MOLD_SECRET_KEY": "1a2e6V79Wj8Ajch8x5E4jkxbXcXGcFfIypMl8q9LRE0",
                "MOLD_SIG_ALGO": "sha256",
                "MOLD_AUTOREGISTER": "all"
            }
        }
    }
}
